.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-left:8px;
    padding-right: 8px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3f3f3f;
    z-index: 100;
    align-items: center;
    transition: all 0.5s ease-in-out; 
}

.navbar.hide {
  top: -80px;
  opacity: 0;
}

/* 👇 Show normally */
.navbar.show {
  top: 0;
  opacity: 1;
}

 .logo {
     display: flex;
     align-items: center;  
     margin-left: 40px; 
      
}
.logo h2{
    font-family: 'Pacifico', 'cursive';
  font-size: 25px;
  color: wheat;
}

.logo h2 span{
    font-family:'pacifico';
    color:#64FFDA;
    font-weight: bolder;
    font-size: 50px;

}

.navbar ul li{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 17px;
    list-style: none;
    color:aliceblue ;
    display: inline-block;
    align-items: center;
}

.navbar ul li:hover{
    color: #64FFDA;
}
.navbar ul li:active{
    color:aliceblue;
}

.toggle{
    display: none;
     transform: rotate(0deg);
}




/*-----media query-------*/
@media(max-width: 1300px){
    .social-icon svg{
    margin-left: 10px;
    font-size: 20px;
    }
    .navbar ul li{
    margin: 5px 12px;

    }
}
@media(max-width: 1100px){
    .social-icon svg{
    margin-left: 14px;
    font-size: 18px;
    }
    .navbar ul li{
    margin: 5px 10px;
    font-size: 14px;
    }
    .logo {
        margin-left: 28px;
    }
     .logo h3{
        font-size: 15px;
     }
     .logo h2{
        font-size: 21px;
     }
}    

@media(max-width:800px){
    .navbar ul li{
        color: rgb(1, 1, 67);
        margin-top: 35px;
        margin-right: 30px;
        display: block; 
        transition: 0.3s; 
        font-size: 17px;
    }
    .navbar ul li:hover{
        color: rgb(21, 21, 212);
       
    }
    .toggle{
        display:block;
        margin-right: 12px;
        color: rgb(182, 182, 185);
        cursor: pointer;
         font-size: 25px;
         z-index: 200;
    }
     .navbar-menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: skyblue;
        padding-top: 80px;
        transition: 0.5s ease;
        z-index: 150;
        
}
       
 .social-icon svg{
    margin-left: 15px;
    font-size: 20px;
   
    
   
    }
    .hide-nav {
        right: -270px;
}
     .close-icon {
        color: navy;
  }
     .navbar ul .btn{
          margin-top:  30px;
} 

}