.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-top: 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

 .logo {
     display: flex;
     align-items: center;  
     margin-left: 40px; 
      
}

.logo h3{
     color: rgb(88, 33, 88);
     font-family: 'Trebuchet MS';
}

.logo h2{
    color: rgb(90, 66, 30);
    font-family: 'Trebuchet MS';
}

.navbar ul li{
    margin: 5px 10px;
    cursor: pointer;
    font-weight: 600;
    list-style: none;
    color:aliceblue ;
     display: inline-block;
    align-items: center;
}

.navbar .btn {
color:aliceblue ;
}

.navbar .btn:active{
    background-color: aliceblue;
    color: navy;
}

.toggle{
    
    display: none;
}

/*-----media query-------*/

@media(max-width: 1000px){
    .logo {
        margin-left: 30px;
}
     .logo h3{
        font-size: 17px;
     }
     .logo h2{
        font-size: 23px;
     }
}   


@media(max-width:750px){
    

    .navbar ul li{
        color: rgb(1, 1, 67);
        margin-top: 35px;
        margin-right: 30px;
        display: block;
        
    }

    .toggle{
        display:block;
        margin-right: 20px;
        color: rgb(182, 182, 185);
        cursor: pointer;
         font-size: 25px;
    }
     .navbar-menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: skyblue;
        padding-top: 80px;
        transition: 0.5s ease;
        z-index: -1;
}

    .hide-nav {
        right: -270px;
}

     .close-icon {
        color: navy;
  }
}