.title{
   margin-top: 3% ;
   padding-top: 10px;
}

.title h2 {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: white;
}
.title h1{
     color:white 
}

.title h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 70px;
  height: 4px;
  background-color: #64FFDA; 
}

.contact-title-wrapper{
  background-color:#0f0f0f;
  padding-top: 10px;
  font-size: 20px;
  
}

@media (max-width: 700px ){
    .title h1{
        font-size: 27px;
    }
    .title h2{
        font-size: 23px;
    }
}