.fade-slide {
  opacity: 0;
  transition: opacity 5s ease, transform 4s ease;
}

.fade-up {
  transform: translateY(40px);
}
.fade-left {
  transform: translateX(-200px);
}
.fade-right {
  transform: translateX(200px);
}

.visible {
  opacity: 1;
  transform: translate(0);
}
