.fade-slide {
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-up {
  transform: translateY(40px);
}
.fade-left {
  transform: translateX(-40px);
}
.fade-right {
  transform: translateX(40px);
}

.visible {
  opacity: 1;
  transform: translate(0);
}
