*{
  font-family: 'Poppins ', sans-serif;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
background: #3f3f3f;
  font-family: 'Poppins ', sans-serif;
  letter-spacing: 2px;
}



.container{
  padding-left: 9%;
  padding-right: 9%;
}

.btn{
  padding:10px 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  background:#64FFDA ;
  color: white;
  transition: 0.5s;
}

.btn2{
  padding:13px 23px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border: 2px solid navy;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: navy;
  transition: 2s;
}
.btn2:hover{
  background-color: navy;
  color: wheat;
}


.btn:hover{
 border: navy;
 background-color: aliceblue;
 color: rgb(1, 1, 67);
}

.btn:active{ 
 background-color: rgb(107, 104, 104);
 border-radius: 20px;

}
.btn2:active{ 
 background-color: rgb(41, 41, 233);
}

a{
  text-decoration: none;
  color: inherit;
}

button svg{
   vertical-align: middle;
   padding-left: 3px;
}

h1, h2, h3{
font-weight: unset;
}

.fade-in{
opacity: 0;
transform: translateY(30px);
animation: fade-in 0.5s linear forwards;
}


@keyframes fade-in{
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}


/*-------media query-----*/

@media(max-width: 900px){
  p{
    font-size: 15px;
  }
  .btn{
    padding:8px 16px;
  }
  .container{
  padding-left: 8%;
  padding-right: 8%;
}
}

@media(max-width: 500px){
  .btn{
    padding:6px 14px;
    font-size:12px ;
  }
.container{
  padding-left: 5%;
  padding-right: 5%;
}

}


